/*  your css code here. If applicable */
.card-img-top {
            cursor: pointer;
        }
        .card {
            border-radius: 15px;
        }
        .card h6, .card p {
            text-align: center;
        }